@model IEnumerable<CallingMvc.Models.Category>
@using CallingMvc.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categury_Name)

        </th>
        <th></th>
    </tr>

    @foreach (Category categury in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(categury.Categury_Name, "Index", "Product", new { CategoryId = categury.CareguryId }, null)
            </td>

        </tr>
    }

</table>
